<!-- text-template -->
<script type="text/x-template" id="reader-component-template">
    <div class="reader-component" >
     <div class="reader-header">
         <h1></h1>
         <div @click="nextPage()" >{{language.translate('page')}} {{pageNum+1}}</div>
     </div>
     <transition-group name="fade" tag="div" class="reader-content">
         <div key="left" class="reader-left">
             <img :src="page.image" width="90%">
         </div>
        <div class="reader-right" key="right">
            <div class="reader-text" key="pageNum">
                <span v-for="(word,wordIdx) in words" :key="wordIdx" @click="showWord(wordIdx)" :active="wordIdx<=currentWord" :next="wordIdx==currentWord+1">{{word}} </span>
                <div class="reader-buttons">
                    <button @click="readWords(words, true)">
                        <i class="fas fa-play"></i>
                    </button>
                    <button @click="nextPage()" v-if="status==2 && !page.question && pageNum+1<book.pages.length">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                    <button @click="finish()" v-if="status==2 && !page.question  && pageNum+1==book.pages.length" >
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                </div>
            </div>
            <div key="question" class="reader-question" v-if="status==1 && page.question">
                <div class="reader-question-title" @click="readQuestion()" >{{ page.question.title}}</div>
                <div class="reader-question-answers">
                    <div class="reader-question-answer" @click="currentAnswer=answerIdx" :current="answerIdx==currentAnswer" v-for="(answer,answerIdx) in page.question.options" 
                        :display="answerIdx<=visibleAnswer" :va="visibleAnswer" :idx="answerIdx" :key="answerIdx">
                        <button @click="checkAnswer(answerIdx)" >{{ answer.title }}</button>
                        <img src="img/audio.svg" height="32" @click="listenOption(answerIdx,answer)" align="absmiddle">
                    </div>
                </div>
            </div>
                      
        </div>
        <div is="popup" :info="popup" key="popup.title" ref="popup"></div>

     </transition-group>
    </div>
</script>
<script type="text/javascript">

Vue.component('reader', {
    template: '#reader-component-template',
    data: function(){
        return {
            zoom : 1,
            pageNum: 0,
            status: 0,
            currentWord: -1,
            currentAnswer: -1,
            visibleAnswer: -1,
            playProc: null,
            readOptionTimeout: [],
            popup: null
        }
    },
    props: { 
        book: Object,
        language: Object,
    },
    mounted:function(){
        var self = this
        this.loadWords()
    },
    methods: {
        showOption: function(idx) {
            var self = this
            var opt = self.page.question.options[idx]
            if (!self.readingOptions){
                return
            }
            self.visibleAnswer = idx
            self.readWords(opt.title.split(' '), false, function(){
                if (idx+1 < self.page.question.options.length){
                    self.showOption(idx+1)
                }
            })
        },
        listenOption: function(idx){
            var self = this
            var opt = self.page.question.options[idx]
            self.readWords(opt.title.split(' '), false, function(){
                self.currentAnswer = -1
            })
        },
        readQuestion: function(delay){
            if (!delay) delay=0
            var self=this
            var proc=setTimeout(function(){
                self.status = 1
                self.visibleAnswer = -1
                self.$forceUpdate()
                if (self.page.question){
                    self.readingOptions=true;
                    self.readWords(self.page.question.title.split(' '), false, function(){
                        self.showOption(0)
                    })
                }
            }, delay)
            self.readOptionTimeout.push(proc)
        },
        showWord: function(idx){
            var self = this
            if (idx<=this.currentWord+1) {
                this.currentWord=idx
                playAudio(this.words[idx])
                var finish = this.currentWord==this.words.length-1
                if (finish && self.page.question) {
                    self.readQuestion(1500)
                } else if (finish && !self.page.question) {
                    this.status = 2
                } else {
                    this.status = 0
                }
            }
        },
        stopSounds: function(stopOptions){
            var self=this;
            clearTimeout(self.playProc);
            self.playProc=null;
            for(var idx=self.readOptionTimeout.length-1; idx>=0; idx--) {
                clearTimeout(self.readOptionTimeout[idx])
                self.readOptionTimeout.splice(idx,1)
            }
            if (!stopOptions){
                self.readingOptions=false
            }
        },
        showAll: function(){
            var self = this
            self.stopSounds();
            self.currentWord=-1
            self.currentAnswer=-1
            self.status=0
            var proc = setInterval(function(){
                console.log('word', self.currentWord)
                if (self.currentWord<=self.words.length-2) {
                    self.currentWord++
                    self.showWord(self.currentWord)
                } else {
                    clearInterval(proc)
                }
            }, 500)
        },
        checkAnswer: function(idx){
            var self = this
            var words = this.page.question.options[idx].title.split(" ")
            console.log('check',idx,this.page.question.answer,words)
            if (idx == this.page.question.answer){
                words.push(language.translate('correct'))
                this.readWords(words, false, function(){
                    if (self.pageNum==self.book.pages.length-1){
                        self.finish()
                    } else {
                        self.nextPage()
                    }
                })
            } else {
                words.push(language.translate('try_again'))
                this.readWords(words, false, function(){
                    self.currentWord = -1
                    self.status=0
                })
            }
        },
        autoPlay:function(){
            var self = this
            this.playProc = setTimeout(function(){
                self.showAll()
            },2000)
        },
        nextPage: function(){
            this.stopSounds();
            this.pageNum++
            this.currentWord = -1
            this.currentAnswer = -1
            this.status = 0
            this.loadWords()
            //this.autoPlay()
        },
        finish: function() {
            this.$emit("finish")
        },
        loadWords: function() {
            if (!this.book){
                return
            }
            document.title=this.book.title;
            var audios = this.words.concat([
                language.translate('correct'),
                language.translate('try_again'),
            ])
            if (this.page.question){
                audios = audios.concat(this.page.question.title.split(' '))
                for (var idx in this.page.question.options){
                    var answer = this.page.question.options[idx]
                    audios = audios.concat(answer.title.split(' '))
                }
            }
            loadAudios(audios,this.book.lang)
        },
        readWords: function (list, showWord, callback) {
            var self = this
            this.stopSounds(true)
            playSequence(list, function(idx,audio,duration){
                if (showWord) {
                    self.showWord(idx)
                } else {
                    playAudio(audio)
                }
            }, function(){
                if (callback) {
                    callback()
                }
            })
        }
    },
    computed:{
        page: function(){
            if (this.pageNum<0) {
                return {}
            }
            return this.book.pages[this.pageNum]
        },
        words: function() {
            console.log('words', this.pageNum,this.book.pages[this.pageNum].content)
            if (this.pageNum<0) {
                return []
            }
            return this.book.pages[this.pageNum].content.split(" ")
        }
    }
});
</script>
<style>
.reader-component{
    font-size: 16px;
    line-height: 1.5em;
}
.reader-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reader-text{
    font-size: 2rem;
    color: rgb(80,80,80);
    line-height: 1.5em;
    position: relative;
}
.reader-content{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.reader-content img{
    max-width: 66vw;
    max-height: 80vh;
    border-radius: 9px;
}
.reader-text span[active="true"]{
    color: rgb(216, 164, 23);
    cursor: pointer;
}
.reader-text span[next="true"]{
    color: rgb(128,128,128);
    cursor: pointer;
}
.reader-left{
    flex: 0 0 45%;
    box-sizing: border-box;
}
.reader-right{
    flex: 0 0 55%;
    box-sizing: border-box;
    position: relative;
}
.reader button{
    cursor: pointer;
}
.reader-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reader-question{
    margin: 24px auto;
    max-width: 300px;
    width: 100%;
    background-color: #666;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 8px;
}
.reader-question-title{
    font-size: 1.5em;
    padding-bottom: 8px;
}
.reader-question-answer{
    padding: 8px;
    visibility: hidden;
}
.reader-question-answer[display='true']{
    visibility: visible;
}
.reader-question-answer[current='true']{
    background-color: rgba(255,255,255,0.2);
}
.reader-question-answer button{
    cursor: pointer;
    width: 75%;
}
.reader-question-answer[current='true'] button{
    color: #ff8;
}

@media (max-width: 479px){
    .reader-left{
        flex: 1 0 100%;
        box-sizing: border-box;
    }
    .reader-right{
        flex: 1 0 100%;
        box-sizing: border-box;
    }
    .reader-question{
        margin: 12px auto;
    }
    .reader-question-title{
        font-size: 1.25rem;
    }
}

@media (max-height:479px){
    .reader-question{
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .reader-text span[active="true"]{
        color: rgb(255,255,128);
    }

}

</style>
    