<!-- text-template -->
<script type="text/x-template" id="reader-component-template">
    <div class="reader-component" :orientation="orientation">
     <div class="reader-header">
         <h1></h1>
         <div @click="nextPage()" >Page {{pageNum+1}}</div>
     </div>
     <transition-group name="fade" tag="div" class="reader-content">
         <div key="left" class="reader-left">
             <img :src="page.image" width="90%">
         </div>
        <div class="reader-right" key="right">
            <div class="reader-toolbar" key="toolbar" >
                <button @click="readWords(words, true)">
                    <img src="img/audio.svg" height="32" >
                </button>
            </div>
            <div class="reader-text" key="pageNum">
                <span v-for="(word,wordIdx) in words" :key="wordIdx" @click="showWord(wordIdx)" :active="wordIdx<=currentWord" :next="wordIdx==currentWord+1">{{word}} </span>
            </div>
            <div key="question" class="reader-question" v-if="status==1 && page.question">
                <div class="reader-question-title" @click="readQuestion()" >{{ page.question.title}}</div>
                <div class="reader-question-answers">
                    <div class="reader-question-answer" @click="currentAnswer=answerIdx" :current="answerIdx==currentAnswer" v-for="(answer,answerIdx) in page.question.options" 
                        :display="answerIdx<=visibleAnswer" :va="visibleAnswer" :idx="answerIdx" :key="answerIdx">
                        <button @click="checkAnswer(answerIdx)" >{{ answer.title }}</button>
                        <img src="img/audio.svg" height="32" @click="listenOption(answerIdx,answer)" align="absmiddle">
                    </div>
                </div>
            </div>
            <div key="step" class="reader-question" v-if="status==2 && !page.question">
                <div class="reader-question-answers">
                    <div class="reader-question-answer" display="true">
                        <button @click="nextPage()" v-if="pageNum+1<book.pages.length">Next Page</button>
                        <button @click="finish()" v-else >Finish</button>
                    </div>
                </div>
            </div>            
        </div>
        <div is="popup" :info="popup" key="popup.title" ref="popup"></div>

     </transition-group>
    </div>
</script>
<script type="text/javascript">

Vue.component('reader', {
    template: '#reader-component-template',
    data: function(){
        return {
            zoom : 1,
            pageNum: 0,
            status: 0,
            currentWord: -1,
            currentAnswer: -1,
            visibleAnswer: -1,
            playProc: null,
            readWordTimeout: [],
            popup: null,
            orientation: "portrait"
        }
    },
    props: { 
        book: Object
    },
    mounted:function(){
        var self = this
        this.loadWords()
    },
    methods: {
        showOption: function(idx) {
            var self = this
            var opt = self.page.question.options[idx]
            console.log('show',idx,opt.title)
            self.visibleAnswer = idx
            self.readWords(opt.title.split(' '), false, function(){
                if (idx+1 < self.page.question.options.length){
                    self.showOption(idx+1)
                }
            })
        },
        listenOption: function(idx){
            var self = this
            var opt = self.page.question.options[idx]
            self.readWords(opt.title.split(' '), false, function(){
                self.currentAnswer = -1
            })
        },
        readQuestion: function(delay){
            if (!delay) delay=0
            var self=this
            setTimeout(function(){
                self.status = 1
                self.visibleAnswer = -1
                self.$forceUpdate()
                self.readWords(self.page.question.title.split(' '), false, function(){
                    self.showOption(0)
                })
            }, delay)
        },
        showWord: function(idx){
            var self = this
            if (idx<=this.currentWord+1) {
                this.currentWord=idx
                this.playAudio(this.words[idx])
                var finish = this.currentWord==this.words.length-1
                if (finish && self.page.question) {
                    self.readQuestion(1500)
                } else if (finish && !self.page.question) {
                    this.status = 2
                } else {
                    this.status = 0
                }
            }
        },
        playAudio: function(word, callback) {
            console.log('playing',word)
            var audio1 = this.audioId(word)
            audioEngine.playFromStart(audio1)
            if (callback){
                var time=audioEngine.duration(audio1)
                setTimeout(function(){
                    callback()
                }, time)
            }
        },
        showAll: function(){
            var self = this
            clearTimeout(self.playProc)
            self.currentWord=-1
            self.currentAnswer=-1
            self.status=0
            var proc = setInterval(function(){
                console.log('word', self.currentWord)
                if (self.currentWord<=self.words.length-2) {
                    self.currentWord++
                    self.showWord(self.currentWord)
                } else {
                    clearInterval(proc)
                }
            }, 500)
        },
        checkAnswer: function(idx){
            var self = this
            var words = this.page.question.options[idx].title.split(" ")
            console.log('check',idx,this.page.question.answer,words)
            if (idx == this.page.question.answer){
                words.push('correcto')
                this.readWords(words, false, function(){
                    if (self.pageNum==self.book.pages.length-1){
                        self.finish()
                    } else {
                        self.nextPage()
                    }
                })
            } else {
                words.push('intenta_otra_vez')
                this.readWords(words, false, function(){
                    self.currentWord = -1
                    self.status=0
                })
            }
        },
        nextPage: function(){
            var self = this
            clearTimeout(self.playProc)
            this.pageNum++
            this.currentWord = -1
            this.currentAnswer = -1
            this.status = 0
            this.loadWords()
            this.playProc = setTimeout(function(){
                self.showAll()
            },2000)
        },
        finish: function() {
            this.pageNum=-1
            this.nextPage()
        },
        audioId: function(id){
            id = id.toLowerCase()
            id = id.replaceAll('á','a')
            id = id.replaceAll('é','e')
            id = id.replaceAll('í','i')
            id = id.replaceAll('ó','o')
            id = id.replaceAll('ú','u')
            id = id.replaceAll('¿','')
            id = id.replaceAll('!','')
            id = id.replaceAll('?','')
            id = id.replaceAll(',','')
            id = id.replaceAll(':','')
            id = id.replaceAll('.','')
            return id
        },
        loadWords: function() {
            if (!this.book){
                return
            }
            var audios = this.words.concat(['correcto','intenta_otra_vez'])
            if (this.page.question){
                audios = audios.concat(this.page.question.title.split(' '))
                for (var idx in this.page.question.options){
                    var answer = this.page.question.options[idx]
                    audios = audios.concat(answer.title.split(' '))
                }
            }
            for(var idx=0; idx< audios.length; idx++) {
                var audio1 = this.audioId(audios[idx])
                var base = document.location.pathname.replace("index.html","")
                audioEngine.load(base+"audio/"+this.book.lang+"/"+audio1+".wav", audio1)
            }
        },
        readWords: function (list, showWord, callback) {
            var time = 50
            var self = this
            for(var idx=self.readWordTimeout.length-1; idx>=0; idx--) {
                clearTimeout(self.readWordTimeout[idx])
                self.readWordTimeout.splice(idx,1)
            }
            for(var idx=0; idx< list.length; idx++) {
                var audio1 = this.audioId(list[idx])
                console.log('play', audio1)
                var proc=setTimeout(function(audio,idx){ 
                    if (showWord) {
                        self.showWord(idx)
                    } else {
                        self.playAudio(audio)
                    }
                },time,audio1,idx)
                self.readWordTimeout.push(proc);
                time+=audioEngine.duration(audio1)-10
            }
            setTimeout(function(){ 
                if (callback) {
                    callback()
                }
            }, time+200)
        }
    },
    computed:{
        page: function(){
            if (this.pageNum<0) {
                return {}
            }
            return this.book.pages[this.pageNum]
        },
        words: function() {
            console.log('words', this.pageNum,this.book.pages[this.pageNum].content)
            if (this.pageNum<0) {
                return []
            }
            return this.book.pages[this.pageNum].content.split(" ")
        }
    }
});
</script>
<style>
.reader-component{
    font-size: 16px;
    line-height: 1.5em;
}
.reader-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reader-text{
    font-size: 2rem;
    color: rgb(80,80,80);
    line-height: 1.5em;
}
.reader-content{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.reader-content img{
    max-width: 66vw;
    max-height: 80vh;
}
.reader-text span[active="true"]{
    color: rgb(216, 164, 23);
    cursor: pointer;
}
.reader-text span[next="true"]{
    color: rgb(128,128,128);
    cursor: pointer;
}
.reader-left{
    flex: 0 0 45%;
    box-sizing: border-box;
}
.reader-right{
    flex: 0 0 55%;
    box-sizing: border-box;
}
.reader-toolbar button{
    cursor: pointer;
}
.reader-question{
    margin: 24px auto;
    max-width: 300px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 7px;
}
.reader-question-title{
    font-size: 1.5em;
    margin: 8px 0;
}
.reader-question-answer{
    padding: 8px;
    visibility: hidden;
}
.reader-question-answer[display='true']{
    visibility: visible;
}
.reader-question-answer[current='true']{
    background-color: rgba(255,255,255,0.2);
}
.reader-question-answer button{
    cursor: pointer;
    width: 75%;
}
.reader-question-answer[current='true'] button{
    color: #ff8;
}

@media (max-width: 767px){
    .reader-left{
        flex: 1 0 100%;
        box-sizing: border-box;
    }
    .reader-right{
        flex: 1 0 100%;
        box-sizing: border-box;
    }
}

@media (prefers-color-scheme: dark) {
    .reader-text span[active="true"]{
        color: rgb(255,255,128);
    }
}

</style>
    