<!-- text-template -->
<script type="text/x-template" id="app-layout-template">
    <div class="app-layout" :style="{fontSize:size+'rem'}" ref="layout">
        <div class="app-header">
            <div>{{contentData?contentData.title:language.translate('Reader')}}</div>
            <div>
                <a v-if="contentData" @click="home()" ><i class="fas fa-home"></i></a>
                <a v-if="!contentData" @click="showSetup()" ><i class="fas fa-globe"></i></a>
            </div>
        </div>
        <transition-group name="fade" tag="div" class="app-main">
            <div v-if="contentData" key="book" is="reader" :language="language" :book="contentData" @finish="home()"></div>
            <div v-if="!contentData && books" key="books" :language="language" is="gallery" :items="books" :lang="lang" @select="loadContent($event)"></div>
            <div class="app-message" v-if="message" :key="message?message:''"><div >{{message}}</div></div>
        </transition-group>
        <div is="popup" :info="popup" ref="popup"></div>
        <div class="app-footer">
        </div>
    </div>
</script>
<script type="text/javascript">

    var errorHandler=function(err, data){
        console.log(err, data);
    }
    var APPDATA_KEY='appdata.bookreader'
    window.addEventListener("error",errorHandler);
    Vue.config.errorHandler = errorHandler;

    Vue.component('app-layout', {
        template: '#app-layout-template',
        data: function(){
            return {
                size: 1.2,
                menu: false,
                lang: "es",
                language: language,
                level: 0,
                appData: {},
                message: null,
                loading: false,
                contentData: null,
                books: {},
                popup: {},
                setup: false,
                cacheId: (new Date()).getTime(),
                actions: {
                    'setLanguage' : true
                }
            }
        },
        props: { 
        },
        created:function(){
            var self = this
            window.addEventListener('hashchange', function(){
                self.loadContent(document.location.hash.replace('#',''))
            })
            loadData('data/books.json',function(data){
                self.books = JSON.parse(data);
            })
        },
        mounted:function(){
            window.app=this
            var self = this
            var appLang = localStorage.getItem('applang')
            if (appLang && appLang != '') {
                this.setLanguage({value:appLang})
            }else {
                this.setLanguage({value:'es'})
            }
            var applayout=self.$refs.layout;
            window.addEventListener("keyup",function(ev){
                console.log('ev',ev.keyCode)
                if (ev.keyCode == 27) {
                    self.popup = null
                }
            })
            window.addEventListener("resize",function(ev){
                self.resize()
            })
            self.resize()
            window.addEventListener("scroll",function(ev){
                var doc = document.documentElement
                var scrollTop = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0);
                var isScrolling = document.body.getAttribute("scrolling")==1;
                var limit=12;
                if (isScrolling){
                    limit=11;
                }
                if (scrollTop>limit){
                    document.body.setAttribute("scrolling",1);
                }else{
                    document.body.setAttribute("scrolling",0);
                }
            })
            this.loadData()
            if (document.location.hash!=''){
                this.loadHash()
            }else if(this.appData.contentId){
                this.loadContent(this.appData.contentId)
            }
        },
        methods: {
            home: function(){
                this.contentData=null
                this.appData.contentId=null
                this.saveData()
            },
            showSetup: function(){
                var self=this
                this.alert(language.translate('Language'),language.translate('Select language'),{
                    "en":language.en.lang_name,
                    "es":language.es.lang_name
                },function(button,idx){
                    self.setLanguage({value:idx})
                })
            },
            loadHash: function(){
                var hash=document.location.hash.replace('#','').split('/')
                this.loadContent(hash[0])
            },
            changePosition: function(pos){
                this.current=pos
            },
            loadData: function(){
                var appData = localStorage.getItem(APPDATA_KEY)
                if (appData) {
                    this.appData = JSON.parse(appData)
                }
                var param = document.location.search.replace('?','');
                if (param!=''){
                    this.appData.contentId = param;
                }
            },
            saveData: function(){
                localStorage.setItem(APPDATA_KEY,JSON.stringify(this.appData))
            },
            loadContent: function(id){
                var self = this
                loadData("data/"+this.lang+"/"+id+".json", function(data){
                    self.contentData=JSON.parse(data)
                    self.appData.contentId = id
                    self.saveData()
                })
            },
            translate: function (expr) {
                return this.language.translate(expr)
            },
            resize: function() {
                var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
                var vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                if (vw>vh) {
                    this.$refs.layout.setAttribute('mode','landscape')
                } else {
                    this.$refs.layout.setAttribute('mode','portrait')
                }
            },
            userProfile: function() {
                this.userSection = this.user
                this.$forceUpdate()
            },
            alert: function(title,message,buttons,callback) {
                this.popup={
                    title: title,
                    message: message,
                    callback: callback,
                    buttons: buttons
                }
                this.$refs.popup.show(this.popup)
                this.$forceUpdate()
            },
            confirm: function(title,message,callback) {
                this.alert(title,message,["Cancel","Ok"],callback)
            },
            showMessage: function(msg, timeout){
                clearTimeout(window.messageTimeout)
                this.message = msg;
                window.messageTimeout = setTimeout(function(self){
                    self.message = null
                }, timeout?timeout:5000, this)
                this.$forceUpdate()
            },
            setLanguage: function(options) {
                console.log('lang', options.value)
                this.lang = options.value
                this.language.selected = this.lang
                localStorage.setItem('applang', options.value)
            },
            action: function (event) {
                var action = event.action
                if (this.actions[action]){
                    this[action](event.data)
                }
            }
        },
        computed:{
        }
    });
</script>
<style>
.app-layout{
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
    min-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.app-menu{
    margin-left: 2vw;
    margin-right: 2vw;
    cursor: pointer;
}
.app-header{
    width: 100%;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: fixed;
    top: -2px;
    z-index: 10;
    opacity: 1;
    transition: opacity linear .3s;
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 16px;
    justify-content:space-between;
}
.app-main{
    flex:1;
    padding: 0 16px;
    padding-top: 3rem;
}
.app-main > .main-content{
    min-height: 100vh;
    box-sizing: border-box;
    padding: 150px 12px 36px 12px;
}
.app-message{
    position: fixed;
    left: 0;
    bottom: 10%;
    width: 100%;
    z-index: 10;
}
.app-message > div{
    margin: 0 auto;
    max-width: 640px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
.app-message.visible{
    display: block;
}
#app button{
    color: #444;
    background-color: #FFC;
    border: 2px solid #EA1;
    padding: 0px 12px;
    font-size: 1.25rem;
    border-radius: 5px;
    line-height: 1.5rem;
    height: 2.4rem;
    margin: 0 8px;
}
.app-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.app-footer > div {
    height: 1.6em;
    line-height: 1.6em;
}
*[inactive='true']{
    opacity: 0.4;
}
.material-icons{
    font-size: 1em;
}
.loading{
    top: 0;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items: center;
}
.loading img{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 5000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 5000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter{
  opacity: 0;
  font-size: 8px;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  font-size: 8px;
  display: none;
}
.zoom-enter-active, .zoom-leave-active {
  transition: all .5s;
}
.zoom-enter{
  opacity: 0;
  size: 1px;
  size: 1px;
}
.zoom-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  size: 1px;
  size: 1px;
}
.app-layout, .app-footer, .app-header, .default-style{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    color: #222;
}
@media (prefers-color-scheme: dark) {
    .app-layout, .app-footer, .app-header, .default-style{
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
        color: #fff;
    }
    #app button{
        background-color: #FFA;
        color: #222;
    }
}
@media (max-width:480px){
    .app-message{
        font-size: 0.9em;
    }
}
@media (max-height: 400px){
    .app-footer{
        height:15px;
        font-size: 10px;
        padding: 2px;
    }
    body[scrolling='1'] .app-header{
        opacity: 0;
        pointer-events: none;
    }
}
</style>
